:root{
    --x1:transparent;
    --x2:transparent;
    --x3:transparent;
    --x4:transparent;
    --x5:transparent;
    --x6:transparent;
    --x7:transparent;
    --x8:transparent;
    --x9:transparent;
    --o1:transparent;
    --o2:transparent;
    --o3:transparent;
    --o4:transparent;
    --o5:transparent;
    --o6:transparent;
    --o7:transparent;
    --o8:transparent;
    --o9:transparent;
   }
body{
    background-color: aqua;
    display:flex;
    flex-direction: column;
}
#gridcontainer{
padding-top: 20px;
padding-left: 20px;
background-color: black;
 width:600px;
 height:600px;
 display:grid;
 grid-template-rows: 200px 200px 200px ;
 grid-template-columns: 200px 200px 200px;
}
.square{
    background-color: aqua;
    width: 180px;
    height: 180px;
}
.square::before{
    content: " ";
    display: flex;
    clip-path: polygon(0% 45%, 45% 45%, 45% 0%, 55% 0%,55% 45%,100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%);
    transform: rotate(45deg);
    background-color: red;
    width: 180px;
    height: 180px;
}
.square::after{
    content: " ";
    translate: 15px -165px;
    display: flex;
    background-color: transparent;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 20px solid blue;
    
}
#square1::before{
    background-color: var(--x1);
}
#square1::after{
    border-color:var(--o1) ;
}

#square2::before{
    background-color: var(--x2);
}
#square2::after{
    border-color:var(--o2) ;
}

#square3::before{
    background-color: var(--x3);
}
#square3::after{
    border-color:var(--o3) ;
}

#square4::before{
    background-color: var(--x4);
}
#square4::after{
    border-color:var(--o4) ;
}

#square5::before{
    background-color: var(--x5);
}
#square5::after{
    border-color:var(--o5) ;
}

#square6::before{
    background-color: var(--x6);
}
#square6::after{
    border-color:var(--o6) ;
}

#square7::before{
    background-color: var(--x7);
}
#square7::after{
    border-color:var(--o7) ;
}

#square8::before{
    background-color: var(--x8);
}
#square8::after{
    border-color:var(--o8) ;
}

#square9::before{
    background-color: var(--x9);
}
#square9::after{
    border-color:var(--o9) ;
}

button{
    height:50px;
    width: 180px;
}
