
body{background-color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-container{
    background: darkblue;
    position: relative;
    margin: auto;
    display: flex;
    height: 506px;
    width: 506px;
}
.col{
    background:transparent;
    height: 506px;
    width: 72px;
    z-index: 3;
}
#c1,#c7{
    width: 73px;
}
.cell{
    background: rgb(30,30,180);
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top{
    top:2px;
    left:218px;
    background-color: red;
}
.form{
    display: flex;
    flex-direction: column;
}
label{
    display:flex;
    flex-direction: row;
}

@media (max-width:430px){
    #game-container{
        height: 401px;
        width: 401px;
    }
    .col{
        height: 401px;
        width: 57px;
    }
    #c1,#c7{
        width: 58px;
    }  
    .cell{
        width: 55px;
        height: 55px;
}
#top{
    background: red;
    left:173px;
}
}
@media (max-width:391px){
    #game-container{
        height: 359px;
        width: 359px;
        
    }
    .col{
        height: 359px;
        width: 51px;
    }
    #c1,#c7{
        width: 52px;
    }  
    .cell{
        width: 49px;
        height: 49px;
    }
    #top{
        background: red;
        left: 155px;
    }
}
@media (max-width:345px){
    #game-container{
        height: 317px;
        width: 317px;
        
    }
    .col{
        height: 317px;
        width: 45px;
    }
    #c1,#c7{
        width: 46px;
    }  
    .cell{
        width: 43px;
        height: 43px;
    }
    #top{
        background: red;
        left:137px;
    }
}